@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

.header__gnb.top{
    height:100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #BCBCBC;
    align-items: center;
    font-size: 13px;
}

.header__search {
    width: 320px;
    padding: 12px;
    border-right: 1px solid #BCBCBC;
    border-left: 1px solid #BCBCBC;
    cursor: pointer;
}

.header__search--txt {
    font-size: 12px;
}

.header__search:hover {
    color: #002BD2;
    background-color: rgb(238, 238, 238);
}

.header__search label {
    font-weight: 600;
}

.header__search input {
    text-align: center;
    width: 70%;
    margin: 0 10px;
    border-radius: 3px;
    border: none;
    background: none;
}

.header__search input:hover {
    background-color: rgb(238, 238, 238);
}

.header__gnb{
    display: flex;
    border-bottom: 1px solid #BCBCBC;
}

.link-menu {
    position: relative;
    display: flex;
    margin: 0 10px;
}

.link-menu li:nth-child(1) {
    margin-right: -5px;
}

.link-menu li:nth-child(2) {
    margin-right: -5px;
}

.link-menu li, .link-menu li a {
    letter-spacing: -0.3px;
    margin-left: 20px;
    color: #000;
}

.link-menu li a:hover {
    color: #002BD2;
}

.header__gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.header__gnb .gnb-logo {
    margin: 15px 0;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.3px;
    color: inherit;
}

.gnb-menu {
    display: flex;
    justify-content: space-between;
}

.gnb-menu li {
    display: flex;
    height: 50px;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 900;
}

.gnb-menu li:nth-child(-n+2) {
    margin-right: 55px
}

.dropdown-content-list {
    margin-bottom: 20px
}

.gnb-menu li:hover,
.dropdown-content a:hover,
.img-move-btn:hover {
    color: #002BD2;
}

.img-move-btn {
    margin-top: 190px;
    padding-left: 20px;
}

.img-move-btn {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color:#807F83
}

.img-move-btn img {
    width: 15px;
}

.gnb-menu__list-one {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* dropdown */
.dropdown-menu {
    position: relative;
    display: inline-block;
    font-size: 12px;
    height: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 55px;
    right: -10px;
    background-color: #282828;
    padding: 20px 15px;
    min-width: 165px;
}

.dropdown-content ul {
    color: #fff;
    font-size: 13px;
}

/* main */
.main-cont {
    height: 920px;
    display: flex;
    gap: 70px;
    padding-top: 60px;
    border-bottom: 1px solid #000;
}

.main-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
}

.main-sub-img {
    width: 30px;
    height: 30px;
    background-size: 50px;
    object-fit: cover;
}

.main-tit {
    padding: 80px 0 0 120px;
}

.main-tit h3 {
    width: 400px;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 70px;
}

.main-tit strong {
    line-height: 140px;
    display: block;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -3px;
}

.main-txt-link {
    position: relative;
    margin-top: 20px;
}

.main-txt-link .main-sub-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.main-sub-txt {
    font-size: 60px;
}

.sub-cont-btn {
    position: absolute;
    right: 300px;
    width: 30px;
    height: 30px;
    background-color: #032ed2;
    border-radius: 15px;
}

.cont-link-txt {
    position: absolute;
    top: 30px;
    margin:0 15px ;
    color: #999;
    font-size: 15px;
    font-weight: 800;
    width: 200px;
    line-height: 25px;
    letter-spacing: -0.3px;
}

.img-wrap {
    width: 1000px;
    height: 800px;
}

.main-img-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* list-section */
.list-section {
    width: 1220px;
    position: relative;
    margin: 0 auto;
    padding: 80px 0 40px 0;
}

.list-section .tit-section {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 40px;
}

.list-items-wrap {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.list-col .list-item a:hover {
    opacity: 85%;
}

/* task-chair */
.item-task-chair2 .item-img1 {
    display: block;
    cursor: pointer;
    width: 560px;
    height: 800px;
    object-fit: cover;
}

.list-item .tit-items-chair {
    font-weight: 900;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    margin: 30px 0 10px;
}

.list-item .desc-task-chair {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
}

.item-img1 {
    width: 560px;
    height: 800px;
    object-fit: cover;
}

.item-img2 {
    width: 560px;
    height: 560px;
    object-fit: cover;
}

.item-img3 {
    width: 560px;
    height: 680px;
    object-fit: cover;
}

.item-img4 {
    width: 560px;
    height: 460px;
    object-fit: cover;
}

.btn-all {
    position: absolute;
    top: 90px;
    right: 80px;
    color: #002BD2;
    font-size: 16px;
}

.list-section .btn-all:hover {
    border-bottom: 1px solid #002BD2;
}

.kids-chair-section {
    border-top: 1px solid #000;
}

.list-items-wrap .kids-chair-col {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.kids-chair-img {
    width: 340px;
    height: 500px;
}

.desc-kids-chair {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}