* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 200px;
}
a, .wrap_item{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    cursor: pointer;
    width: 75px;
}
.nav-menu, .txt_keyword .txt_keyword2{
    list-style: none;
}
.nav-menu li {
    display: inline-block;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: -0.1em;
}
.nav-menu li a {
    font-weight: 400;
    transition: .3s;
    color: #000;
}
.nav-menu:hover li a {
    color: gainsboro;
}

.nav-menu li:hover a{
    color: black;
}
.icon {
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
}
main {
    align-items: center;
    padding: 100px 0;
}
.item_card{
    position: relative;
    overflow: hidden;
    width: 630px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.day, .item_cont, .wrap_item {
    display: flex;
}
.main_content img {
    width: 70px;
}
.wrap_cont{
    display: block;
    padding: 20px 0 10px 30px;
}
.item_cont img{
    width: 40px;
}
.main_content{
    
    letter-spacing: -0.1em;
}
.main_content h1,p {
    line-height: 50px;
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;   
}
.main_content p {
    margin-top: -5px;
}
.info_text{
    position: relative;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
    letter-spacing: -0.05em;
    width: 72px;
    height: 34px;
    background-color: #eee;
    border-radius: 10px;
    padding-top: 8px;
    text-align: center;
}
.info_box{
    position: absolute;
    /* display: inline; */
    top:20px;
    left:63px;
    width: 16px;
    height: 16px;
    transform: rotate(-10deg);
}
.txt_keyword {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 270px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}
.txt_card{
    display:block;
    width: 530px;
    margin-top: 10px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.03em;
    align-items: center;
    color: black;
}
.thumb_img{
    position: absolute;
    object-fit: cover;
}


/* .cards{
    display: flex;
    justify-content: left;
    width: 297px;
    height: 420px;
} */

/* .left_card{
    display: flex;
    justify-content: left;
    width: 297px;
    height: 420px;
} */

.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* .txt_flex{
    display: flex;
    justify-content: space-between;
    margin: -10px 0;
} */

.wrap_cards {
    display: flex;
    justify-content: left;
    flex-direction: row;
    
}

.wrap_item .item_card{
    /* display: flex;
    justify-content: left; */
   
}

.wrap_item2 {
    display: flex;
    flex-direction: column;
    margin: 0 18px 18px 18px;

    /* gap: 36px; */
}

.wrap_cont{
    display: flex;
    flex-direction: column;
    
    /* gap: 30px; */
}
   

.item_card2 {
    position: relative;
    overflow: hidden;
    width: 297px;
    height: 420px;
    border-radius: 20px;
    margin: 0 18px 18px 18px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.item_card3 {
    position: relative;
    overflow: hidden;
    width: 297px;
    height: 420px;
    border-radius: 20px;
    margin: 0 18px 18px 18px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}

    .txt_card2 {
    display:block;
    width: 250px;
    height: 60px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.03em;
    align-items: flex-start;
    color: black;
    }

    .txt_card3
    {
        display:block;
        width: 250px;
        height: 60px;
        margin-top: 10px;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: -0.03em;
        align-items: flex-start;
        color: black;
        }
    


    .txt_keyword .flex_text {
    display: flex;
    flex-direction: row;
   align-items: flex-start;
    margin: 20px 0;
    width: 180px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    width: 190px;
    

